body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(245, 239, 224);
  font-size: 20px;
    overflow:auto;
    }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
  .image-container{
    display:flex;
    width:min-content;
    height:10cm;
    box-sizing: border-box;
    align-content:center;
  }

  html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

  .img{
    width:50px;
  }
  .container{
      width: 100%;
      height: 90vh;
      background-image: url(https://payload.cargocollective.com/1/2/68910/13632151/nipetrov_m_c.gif);
      display:flex;
      justify-content:first baseline;
      background-size: cover;
      color: #1b4100;
      display:flex;
      align-items:center;
      justify-content: center;
      animation: scroll 2s ease-in-out forwards 3.5s;
  }
  
  .container h1{
       font-size: 80px;
       font-weight: 600;
  }
  
  .auto-type{
      display:inline-block;
      overflow:hidden;
      white-space: nowrap; 
      border-right: 2px solid;
      animation: typing 3.5s steps(30) 1 forwards, blink 0.75s step-end infinite, disappear 0s 3.5s forwards;
  }

.scroll-container {
    height: 50vh;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  @keyframes typing{
      from{
          width: 0;
      }
      to {
          width: 15ch;
      }
  }
  
  @keyframes blink {
      from, to{
          border-color: transparent;
      }
      50% {
          border-color: black;
      }
  }
  
  @keyframes disappear{
      to{
          border-color: transparent;
      }
  }

  html {
    scroll-behavior: smooth
}

body {
  padding: 20px; 
  margin: 0; 
}

.q1{
  font-size: 50px;
  border-style: solid;
  color:rgb(244, 255, 171);
  background-color : rgb(53, 88, 60);
  background-image: url(images/mb_btn2.jpg);
  color: 0090ff;
  border-style:none;
}

.q2{
  font-size: 30px;
  border-style: solid;
  color:rgb(244, 255, 171);
  background-color : rgb(197, 214, 182);
  background-image: url(images/mb_btn2.jpg);
  color: 0090ff;
  border-style:none;
}

.image-container{
  height:9cm;
  size: 50px;
  gap: 1em; 
  padding: 10px;
  justify-content: space-between;
}

.home {
text-align: inherit;  
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
font-weight: 200;
border-style: solid;
text-decoration: none;
color:rgb(53, 88, 60);
}

.giftext {
  max-height: 45%;
  font-size: auto;
 }
 
 .gif {
   max-width: 50%;
   max-height: auto;
 }
 