body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(239, 180, 255);
    font-size: 20px;
    overflow: auto;
    padding: 0;
    margin: 30px;
    font-weight:200;
  }
  
  .home {
    text-align: inherit;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 200;
    border-style: solid;
    text-decoration: none;
    color: rgb(176, 181, 255);
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(176, 181, 255);
    font-size: 90px;
    overflow: auto;
    padding: 0;
    font-weight:600;
  }

  
  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: auto;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    color:rgb(250, 255, 176);
    font-weight:200;

  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(19) {
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(20) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(21) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(22) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(23) {
    animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(24) {
    animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 

  span:nth-child(24) {
    animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
   
  span:nth-child(25) {
    animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(26) {
    animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(27) {
    animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(28) {
    animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(29) {
    animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(30) {
    animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(31) {
    animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  } 
  span:nth-child(32) {
    animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(33) {
    animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(34) {
    animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(35) {
    animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(36) {
    animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(37) {
    animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }  
  span:nth-child(38) {
    animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .image {
    position:relative;
    display: inline-block;
    width: 1100px;
    height: 600px;
    margin-left: 20vh;
  }

  .image__img {
    display: flex;
    width: 1000px;
    height: auto;
  }

  .image__overlay {
    position: absolute;
    top: 0;
    left: 5ch;
    width: 1001px;
    height: 580px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: opacity 0.25s ease-in-out;
  }

  .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }

  .image:hover .image__overlay {
    opacity: 1;
}

  .image__overlay:hover > * {
    transform: translateY(20px);
  }

  .image__title {
    font-size: 30px;
    font-weight: bold;
    font-weight:200;

  }

  .image__description {
    font-size: 20px;
    margin-top:0.25em;
    line-height: 5vh;
  }

  h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    border: 10px;
    font-weight: 200;
    border-style:dotted;
    color:rgb(243, 123, 143);
  }

  h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border: 10px;
    font-weight: 200;
    border-style:dotted;
    color:rgb(243, 123, 143);
  }

  .chelseamarket {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
    padding: 2rem;
  }

  .chelseamarket__item {
    position: relative;
    width: 80vh;
    height: 80vh;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out; 
    border-radius: 10vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chelseamarket__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.chelseamarket__item:hover img {
    transform: scale(1.1); 
}

.chelseamarket__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.chelseamarket__item:hover .chelseamarket__overlay {
    opacity: 1; 
}

.p1{
  margin-left: 40vh;
  align-items: center;
}

.marquee1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  size: 40px;
  border: 10px;
  font-weight: 300;
  color:white;
  background-color:rgb(112, 214, 157);
  border-style:dashed;
  border-color: rgb(234, 192, 199);
}
