body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(58, 106, 209);
  font-size: 20px;
  font-weight: 200;
  overflow: auto;
  padding: 0;
  margin: 30px;
  color:white;
}

.home {
  text-align: inherit;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 200;
  border-style: solid;
  text-decoration: none;
  color:rgb(255, 171, 93);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(255, 171, 93);;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
              9px 9px 0 var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: transparent;
  background-color: var(--color-primary); 
  background-clip: text;
  -webkit-background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

h1, h2 {
  color: #46aefd;
  font-size: 30px;
  font-weight: 200;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 7px;
  cursor: pointer;
  text-align: center;
}

h1 span, h2 span {
  transition: .5s linear;
}

h1:hover span:nth-child(1),
h2:hover span:nth-child(1) {
  font-size: 80px;
}

h1:hover span,
h2:hover span {
  color: pink;
}

#marquee {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 300;
  size: 40px;
  border: 10px;
  font-weight: 300;
  color:rgb(255, 171, 93);
  border-style:dashed;
  border-color: rgb(255, 176, 206);
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px; 
}

#date {
  margin: 0;
  align-items: center;
}

#gif1 {
  width: 300px; 
  height: auto;
}

.pizza-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px; 
}

#pizza {
  margin: 0;
  align-items: center;
}

#img1 {
  width: 300px; 
  height: auto;
}

pre{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }